{% extends "dashboard/_master.html" %}
{% block title %}Email Change Successful{% endblock %}
{% block meta_title %}Email Change Successful{% endblock %}
{% block meta_description %}Email Change Successful{% endblock %}
{% block meta_keywords %}Email Change Successful{% endblock %}
{% block page_class %}external-page external-alt sb-l-c sb-r-c onload-check{% endblock %}

{% block content %}
	<!-- Start: Content-Wrapper -->
	<section id="content_wrapper">
		<!-- Begin: Content -->
		<section id="content">
			<div class="center-block mt70" style="max-width: 625px">
				<!-- Login Logo + Meta -->
				<div class="row table-layout">

					<div class="col-xs-7 pln">
						<h2 class="text-dark mbn confirmation-header"><i class="fa fa-check text-success"></i> Email Change Sucessful.</h2>
					</div>

					<div class="col-xs-5 text-right va-b">
						<div class="meta-links alt">
							<a href="https://brizeo-dev.xtresoft.net/" class="">Brizeo.com</a>
							<span class="ph5"> |</span>
							<a href="https://brizeo-dev.xtresoft.net/support" class="active">Support</a>
						</div>
					</div>

				</div>

				<!-- Confirmation Panel -->
				<div class="panel mt15">
					<div class="panel-body pt30 p25 pb15">

						<p class="lh25 text-muted fs15">Your email address has been changed.</p>

					</div>
				</div>

				<!-- Registration Links -->
				<div class="login-links">
					<p>
						<a href="{% url 'dashboard_login' %}" class="active" title="Dashboard">Dashboard</a>
					</p>
				</div>
			</div>
		</section>
	</section>
{% endblock %}

{% block extra_scripts %}

{% endblock %}