/env
.idea
*.iml
*.pyc
/static/uploads/
/static/django/debug.log
/apps/dashboard/_static/dashboard/_lib/bower_components/
/apps/dashboard/_static/dashboard/_lib/node_modules/
node_modules
npm-debug.log
