{% extends "dashboard/_master.html" %}
{% block title %}Brizeo -  Page Not Found{% endblock %}
{% block meta_title %}Brizeo - Page Not Found{% endblock %}
{% block meta_description %}Brizeo - Page Not Found{% endblock %}
{% block meta_keywords %}Brizeo - Page Not Found{% endblock %}
{% block page_class %}external-page external-alt sb-l-c sb-r-c onload-check{% endblock %}

{% block content %}
	<div class="center-block mt50 mw800">
          <h1 class="error-title"> 400! </h1>
          <h2 class="error-subtitle">Bad Request.</h2>
        </div>
{% endblock %}


{% block extra_scripts %}

{% endblock %}