{% extends "dashboard/_master.html" %}
{% block title %}Brizeo -  Internal Server Error{% endblock %}
{% block meta_title %}Brizeo - Internal Server Error{% endblock %}
{% block meta_description %}Brizeo - Internal Server Error{% endblock %}
{% block meta_keywords %}Brizeo - Internal Server Error{% endblock %}
{% block page_class %}external-page external-alt sb-l-c sb-r-c onload-check{% endblock %}

{% block content %}
<div class="center-block mt50 mw800">
          <h1 class="error-title"> 500! </h1>
          <h2 class="error-subtitle">Internal Server Error.</h2>
        </div>
{% endblock %}


{% block extra_scripts %}

{% endblock %}