{% extends "dashboard/_master.html" %}
{% block title %}Password Reset{% endblock %}
{% block meta_title %}Password Reset{% endblock %}
{% block meta_description %}Password Reset{% endblock %}
{% block meta_keywords %}Password Reset{% endblock %}
{% block page_class %}page_password_reset external-page external-alt sb-l-c sb-r-c{% endblock %}

{% block content %}
	<!-- Start: Content-Wrapper -->
	<section id="content_wrapper">

		<!-- Begin: Content -->
		<section id="content">
			<div class="dashboard-form theme-primary mw500" id="login" ng-controller="resetCtrl">

				<!-- Login Logo -->
				<div class="row table-layout">
					<a  title="Return to Dashboard">
						<img src="{{ STATIC_URL }}images/logo/logo.png" title="Brizeo"
                             class="center-block img-responsive" style="max-width: 175px;">
					</a>
				</div>

				<!-- Login Panel/Form -->
				<div class="panel mt30 mb25">

					<div class="panel-body bg-light p25 pb15">


						<!-- Username Input -->
						<div class="section row">
                            <div class="col-md-6">
                                <label for="username" class="field-label text-muted  mb10">Password</label>
                                <label for="password" class="field"
                                       ng-class="utilsServices.errors.password ? 'state-error' : ''">
                                    <input  type="password" name="password" id="password"
                                           class="gui-input"
                                           placeholder="New Password" ng-model="password">
                                </label>
                                <em ng-repeat="(key, value) in utilsServices.errors.password" for="password"
                                    class="state-error">{[value]}</em>
                            </div>
                            <div class="col-md-6">
                                <label for="username" class="field-label text-muted  mb10">Confirm Password</label>
                                <label for="password" class="field"
                                       ng-class="utilsServices.errors.password_confirm ? 'state-error' : ''">
                                    <input  type="password" name="password_confirm"
                                           id="password_confirm"
                                           class="gui-input"
                                           placeholder="Confirm New Password" ng-model="password_confirm">
                                </label>

                                <em ng-repeat="(key, value) in utilsServices.errors.password_confirm"
                                    for="password_confirm"
                                    class="state-error">{[value]}</em>
                            </div>
                        </div>

						<input type="hidden" ng-init="password_reset_token='{{ password_reset_token }}'"
						       ng-model="password_reset_token">


					</div>

					<div class="panel-footer clearfix">
						<button class="button btn-primary mr10 pull-right" ng-click="saveNewPassword()">Save New Password</button>
					</div>

				</div>

				<!-- Registration Links -->
				<div class="login-links">
					<p>
						<a href="{% url 'dashboard_login' %}" class="active" title="Sign In">Sign In?</a>
					</p>

					<p>Haven't yet Registered?
						<a href="{% url 'dashboard_signup' %}" title="Sign up">Sign up here</a>
					</p>
				</div>

			</div>
		</section>
	</section>
{% endblock %}


{% block extra_scripts %}

{% endblock %}