{% extends "dashboard/_master.html" %}
{% block title %}Wrong Passwod Reset Token{% endblock %}
{% block meta_title %}Wrong Passwod Reset Token{% endblock %}
{% block meta_description %}Wrong Passwod Reset Token{% endblock %}
{% block meta_keywords %}Wrong Passwod Reset Token{% endblock %}
{% block page_class %}external-page external-alt sb-l-c sb-r-c onload-check{% endblock %}

{% block content %}
    <!-- Start: Content-Wrapper -->
    <section id="content_wrapper">

        <!-- Begin: Content -->
        <section id="content">
            <div class="center-block mt70" style="max-width: 625px">

                <!-- Login Logo + Meta -->
                <div class="row table-layout">

                    <div class="col-xs-7 pln">
                        <h2 class="text-dark mbn confirmation-header"><i class="fa fa-times text-danger"></i>
                            Invalid Token.</h2>
                    </div>

                    <div class="col-xs-5 text-right va-b">
                        <div class="meta-links alt">
                            <a  class="">Brizeo.com</a>
                            <span class="ph5"> |</span>
                            <a  class="active">Support</a>
                        </div>
                    </div>

                </div>

                <!-- Confirmation Panel -->
                <div class="panel mt15">
                    <div class="panel-body pt30 p25 pb15">

                        <p class="lh25 text-muted fs15">Sorry your password reset token is invalid. Please try again or
                            contact support.</p>

                        <p class="text-right mt20">
                            <a href="{% url 'dashboard_reset' %}" class="btn btn-primary btn-rounded ph40"
                               type="button">RESET PASSWORD</a>
                        </p>

                    </div>
                </div>

            </div>
        </section>
    </section>

{% endblock %}


{% block extra_scripts %}

{% endblock %}